<md-dialog md-theme="grey" class="full-width" layout-padding>
 <md-dialog-content layout-padding>
   <div>
     <md-input-container class="md-block" flex>
       <label flex>{{chickletData.snapshot.displayName}}</label>
         <input ng-model="chickletData.snapshot.value">
     </md-input-container>
    </div>
   <div class="md-actions">
      <md-button ng-click="cancel()">
        Cancel
      </md-button>
      <md-button ng-click="save()">
        Submit
      </md-button>
    </div>
</md-dialog-content>
</md-dialog>
