<md-dialog md-theme="grey">
  <md-dialog-content layout-padding>
    <div layout="column">
      <div layout="row">
        <md-input-container class="md-block" flex>
          <label>{{chickletData.blood_group.displayName}}</label>
          <md-select class="drop" ng-model="chickletData.blood_group.value" ng-value="chickletData.blood_group.value">
            <md-option ng-repeat="type1 in blood_group">{{type1}}</md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="md-block" flex>
          <label>{{chickletData.marital_status.displayName}}</label>
          <md-select class="drop" ng-model="chickletData.marital_status.value" ng-value="chickletData.marital_status.value">
            <md-option ng-repeat="type in marital_status">{{type}}</md-option>
          </md-select>
        </md-input-container>
      </div>
      <div layout="row">
        <md-input-container class="md-block" flex>
          <label>{{chickletData.nationality.displayName}}</label>
          <input value="{{chickletData.nationality.value}}" ng-model="chickletData.nationality.value">
        </md-input-container>
        <md-input-container class="md-block" flex>
          <label>{{chickletData.sex.displayName}}</label>
          <md-select class="drop" ng-model="chickletData.sex.value" ng-value="chickletData.sex.value">
            <md-option ng-repeat="sex in gender">{{sex}}</md-option>
          </md-select>
        </md-input-container>
      </div>
    </div>
    <div class="md-actions">
      <md-button ng-click="save()">
        Submit
      </md-button>
      <md-button ng-click="cancel()">
        Cancel
      </md-button>

    </div>
  </md-dialog-content>
</md-dialog>
