<md-dialog md-theme="grey">
 <md-dialog-content layout-padding>
   <div layout="row" flex layout-gt-xs="column" layout-gt-sm="row" layout-xs="column" >
   <div layout="column" flex>
       <md-input-container class="md-block" flex>
        <label>{{chickletData.achievements_name.displayName}}</label>
        <input value="{{chickletData.achievements_name.value}}" ng-model="chickletData.achievements_name.value">
      </md-input-container>
      <md-input-container class="md-block" flex>
        <label>{{chickletData.when.displayName}}</label>
        <input value="{{chickletData.when.value}}" ng-model="chickletData.when.value">
      </md-input-container>
      <md-input-container class="md-block" flex>
        <label>{{chickletData.where.displayName}}</label>
        <input value="{{chickletData.where.value}}"ng-model="chickletData.where.value">
      </md-input-container>
    </div>
     </div>
 <div class="md-actions">
   <md-button ng-click="save()">
     Submit
   </md-button>
    <md-button ng-click="cancel()">
      Cancel
    </md-button>

  </div>
</md-dialog-content>
</md-dialog>
