<md-dialog ng-controller="mainCtrl" md-theme="grey">
 <md-dialog-content layout-padding >
     <div layout="column" flex layout-align="space-around center">
       <div layout="row"flex>
         <md-input-container class="md-block" flex>
            <label>{{chickletData.type.displayName}}</label>
            <md-select ng-model="type">
               <md-option ng-repeat="type in activity_types">{{type}}</md-option>
               </md-select>
        </md-input-container>
        <md-input-container class="md-block" flex>
            <label>{{chickletData.organization.displayName}}</label>
            <input ng-model="chickletData.organization.value" value="{{chickletData.organization.value}}">
        </md-input-container>
       </div>
       <div layout="row" flex>
         <md-datepicker ng-model="chickletData.from_when.value" md-placeholder="{{chickletData.from_when.value}}"></md-datepicker>
       </div><br><br>
         <div layout="row" flex>
           <md-datepicker ng-model="chickletData.to_when.value" md-placeholder="{{chickletData.to_when.value}}"></md-datepicker>
         </div>
       </div>
       <md-input-container class="md-block" flex>
         <label>{{chickletData.participation.displayName}}</label>
         <input value="{{chickletData.participation.value}}" ng-readonly="inactive">
       </md-input-container>
 <div class="md-actions">
    <md-button ng-click="cancel()">
      Close
    </md-button>
    <md-button ng-click="save(sectionName,chickletName,chickletData)">
      Submit
    </md-button>
  </div>
</md-dialog-content>
</md-dialog>
