<md-dialog ng-controller="mainCtrl" md-theme="grey">
 <md-dialog-content layout-padding>
 <div layout="column" flex>
  <div layout="row"flex>
    <md-input-container class="md-block" flex>
      <label>{{chickletData.place.displayName}}</label>
      <input value="{{chickletData.place.value}}" ng-model="chickletData.place.value">
    </md-input-container>
    <md-input-container class="md-block" flex>
      <label>{{chickletData.country.displayName}}</label>
      <input value="{{chickletData.country.value}}" ng-model="chickletData.country.value">
    </md-input-container>
 </div>
 <div layout="row" flex>
 <md-input-container class="md-block" flex>
 <label>{{chickletData.activity.displayName}}</label>
 <md-select ng-model="activity">
    <md-option ng-repeat="activity in activities">{{activity}}</md-option>
 </md-select>
 </md-input-container>
     <md-datepicker ng-model="chickletData.from_when.value" md-placeholder="{{chickletData.from_when.value}}"></md-datepicker>
 </div>
</div>
 <div class="md-actions">
    <md-button ng-click="cancel()">
      Close
    </md-button>
    <md-button ng-click="save(sectionName,chickletName,chickletData)">
      Submit
    </md-button>
  </div>
</md-dialog-content>
</md-dialog>
