<md-dialog ng-controller="mainCtrl" md-theme="grey">
 <md-dialog-content layout-padding>
   <div layout="column" layout-padding>
     <div layout="row" flex>
     <md-input-container flex="33">
       <label>{{chickletData.Name.displayName}}</label>
       <input value="{{chickletData.Name.value}}">
     </md-input-container>
     <md-input-container flex="33">
       <label>{{chickletData.done_at.displayName}}</label>
       <input value="{{chickletData.done_at.value}}">
     </md-input-container>
     <md-input-container flex="33">
       <label>{{chickletData.status.displayName}}</label>
       <md-select ng-model="status">
         <md-option ng-repeat="status in statuses" value="{{status}}">{{status}}</md-option>
       </md-select>
     </md-input-container>
     </div>
   <div layout="row" flex>
       <md-datepicker ng-model="chickletData.from_when.value" md-placeholder="{{chickletData.from_when.value}}"></md-datepicker>
       <md-datepicker ng-model="chickletData.till_when.value" md-placeholder="{{chickletData.till_when.value}}"></md-datepicker>
     <md-input-container>
       <label>{{chickletData.done_at_location.displayName}}</label>
       <input value="{{chickletData.done_at_location.value}}" ng-readonly="inactive" >
     </md-input-container>

   </div>
   <div layout="row">
     <md-input-container flex="33">
       <label>{{chickletData.role.displayName}}</label>
       <input value="{{chickletData.role.value}}"  ng-readonly="inactive">
     </md-input-container>
     <md-input-container flex="33">
       <label>{{chickletData.for_whome.displayName}}</label>
       <input value="{{chickletData.for_whome.value}}"   ng-readonly="inactive">
     </md-input-container>
     <md-input-container flex="33">
       <label>{{chickletData.size_of_project.displayName}}</label>
       <input value="{{chickletData.size_of_project.value}}"   ng-readonly="inactive">
     </md-input-container>
   </div>
     <md-input-container>
       <label>{{chickletData.demo_url.displayName}}</label>
       <input value="{{chickletData.demo_url.value}}" ng-readonly="inactive" >
     </md-input-container>
     <md-input-container>
       <label>{{chickletData.source_url.displayName}}</label>
       <input value="{{chickletData.source_url.value}}"  ng-readonly="inactive">
     </md-input-container>
        <md-input-container>
       <label>{{chickletData.synopsis.displayName}}</label>
       <input value="{{chickletData.synopsis.value}}"  ng-readonly="inactive">
     </md-input-container>

     <md-input-container>
       <label>{{chickletData.tech_skills_used.displayName}}</label>
       <input value="{{chickletData.tech_skills_used.value}}" ng-readonly="inactive" >
     </md-input-container>
 </div>
 <div class="md-actions">
    <md-button ng-click="cancel()">
      Close
    </md-button>
    <md-button ng-click="save(sectionName,chickletName,chickletData)">
      Submit
    </md-button>
  </div>
 </md-dialog-content>
</md-dialog>
