<md-dialog ng-controller="mainCtrl" md-theme="grey">
 <md-dialog-content layout-padding>
   <div layout="column" flex >
     <div layout="row" flex>
     <md-input-container flex="50">
        <label>{{chickletData.levels.displayName}}</label>
        <md-select ng-model="level">
        <md-option ng-repeat="level in levels">{{level}}</md-option>
        </md-select>
      </md-input-container>
      <md-input-container flex="50">
     <label>{{chickletData.streams.displayName}}</label>
     <md-select ng-model="stream">
     <md-option ng-repeat="stream in streams">{{stream}}</md-option>
     </md-select>
   </md-input-container>
    </div>
    <div layout="row" flex>
      <md-input-container>
         <label>{{chickletData.qualificationname.displayName}}</label>
         <input value="{{chickletData.qualificationname.value}}" ng-model="chickletData.qualificationname.value">
      </md-input-container>
      <md-datepicker ng-model="chickletData.qualificationdate.value" md-placeholder="{{chickletData.qualificationdate.value}}"></md-datepicker>
    </div>
    <md-input-container flex>
     <label>{{chickletData.fromwhere.displayName}}</label>
     <input value="{{chickletData.fromwhere.value}}" ng-model="chickletData.fromwhere.value">
   </md-input-container>
</div>
 <div class="md-actions">
    <md-button ng-click="cancel()">
      Close
    </md-button>
    <md-button ng-click="save(sectionName,chickletName,chickletData)">
      Submit
    </md-button>
  </div>
</md-dialog-content>
</md-dialog>
