<div ng-cloak ng-init="inactive=true">
  <md-card ng-if="chickletData.name.value||chickletData.from_when.value" md-theme="grey" layout-padding ng-mouseenter="buttonactive=true" ng-mouseleave="buttonactive=false">
    <md-content>
      <div layout="column">
        <div layout="row">
          <p class="heading" flex>&nbsp;</p>
        </div>
        <div layout="row">
          <div layout="column">
            <md-input-container ng-if="chickletData.name.value">
              <label>{{chickletData.name.displayName}}</label>
              <input value="{{chickletData.name.value}}" ng-readonly="inactive">
            </md-input-container>
            <md-input-container>
              <label>{{chickletData.from_when.displayName}} </label>
              <input value="{{chickletData.from_when.value| date: mediumDate}}" ng-readonly="inactive">
            </md-input-container>
          </div>
        </div>
      </div>
    </md-content>
  </md-card>
  </div>
