<div ng-controller="mainCtrl" ng-cloak ng-init="inactive=true">
        <md-card md-theme="grey" md-row-height="fit">
          <md-icon-actions style="text-align:right">
          <md-button class="md-icon-button" ng-click="publicationModal(chickletData,sectionName,chickletName)">
            <md-icon class="material-icon">create</md-icon>
          </md-button>
        </md-icon-actions>
          <div layout="row">
          <md-card-header flex="90">{{chickletData.title.value}}
              </md-card-header>
          </div>
          <md-card-content>
          <div layout="row" flex layout-gt-xs="column" layout-gt-sm="row" layout-xs="column" >
              <div layout="column" flex>
              <md-input-container class="md-block" flex>
               <label>{{chickletData.type.displayName}}</label>
               <input value="{{chickletData.type.value}}" ng-readonly="inactive">
               <!-- <md-select ng-model="type">
                  <md-option ng-repeat="type in publication_types">{{type}}</md-option>
                  </md-select> -->
             </md-input-container>
             <md-input-container class="md-block" flex>
               <label>{{chickletData.url.displayName}}</label>
               <input value="{{chickletData.url.value}}" ng-readonly="inactive">
             </md-input-container>
            </div>
            <div layout="column" flex>
              <md-input-container class="md-block" flex>
                <label>{{chickletData.when.displayName}}</label>
                <input value="{{chickletData.when.value}}" ng-readonly="inactive">
              </md-input-container>
              <md-input-container class="md-block" flex>
                <label>{{chickletData.summary.displayName}}</label>
                <input value="{{chickletData.summary.value}}" ng-readonly="inactive">
              </md-input-container>
            </div>
          </div>
        </md-card-content>
        </md-card>
  </div>
