<div  ng-controller="mainCtrl" ng-cloak ng-init="inactive=true">
   <md-card ng-if="chickletData.name.value"||"chickletData.level.value"||"chickletData.usage.value"||"chickletData.time_spent_on_it.value" md-theme="grey" layout-padding  ng-mouseenter="buttonactive=true" ng-mouseleave="buttonactive=false">
      <md-content>
         <div layout="row">
            <p layout="column" flex class="heading">
               {{chickletData.heading.displayName}}
            </p>
            <md-icon-actions style="text-align:right">
               <md-button  ng-show="buttonactive" class="md-icon-button" ng-click="skillModal(chickletData,sectionName,chickletName,chicklets)">
                  <md-icon class="material-icon">create</md-icon>
               </md-button>
            </md-icon-actions>
         </div>
         <div layout="column">
            <div layout-xs="column" layout-gt-xs="row">
               <div layout="column">
                  <md-input-container ng-if="chickletData.name.value">
                     <label>{{chickletData.name.displayName}}</label>
                     <input value="{{chickletData.name.value}}" ng-readonly="inactive">
                  </md-input-container>
               </div>
               <div layout="column">
                  <md-input-container ng-if="chickletData.level.value">
                     <label>{{chickletData.level.displayName}}</label>
                     <input value="{{chickletData.level.value}}" ng-readonly="inactive">
                  </md-input-container>
               </div>
               <div layout="column">
                  <md-input-container ng-if="chickletData.time_spent_on_it.value">
                     <label>{{chickletData.time_spent_on_it.displayName}}</label>
                     <input value="{{chickletData.time_spent_on_it.value}}" ng-readonly="inactive">
                  </md-input-container>
               </div>
            </div>
            <div class="row3" layout="column">
               <md-input-container ng-if="chickletData.usage.value">
                  <label>{{chickletData.usage.displayName}}</label>
                  <input value="{{chickletData.usage.value}}" ng-readonly="inactive">
               </md-input-container>
            </div>
         </div>
      </md-content>
   </md-card>
</div>
