<div  ng-cloak ng-init="inactive=true">
   <md-card md-theme="grey" ng-if="chickletData.email.value" || "chickletData.linkedin.value" || "chickletData.facebook.value" || "chickletData.github.value" || "chickletData.phones.value" || "chickletData.address.value"  layout-padding  ng-mouseenter="buttonactive=true" ng-mouseleave="buttonactive=false">
      <div layout="row">
         <p layout="column" flex class="heading">
            {{chickletData.heading.displayName}}
         </p>
         <md-button ng-show="buttonactive" class="md-icon-button" ng-click="contactModal(chickletData,sectionName,chickletName,chicklets)" flex style="text-align:right">
            <md-icon class="material-icon">create</md-icon>
         </md-button>
      </div>
      <div layout="column" flex>
         <div layout="row" layout-xs="column">
            <md-input-container class="md-block" flex=50 flex-xs=100 ng-if="chickletData.email.value">
               <label>{{chickletData.email.displayName}}</label>
               <input value="{{chickletData.email.value}}" ng-readonly="inactive">
            </md-input-container>
            <md-input-container class="md-block" flex=50 flex-xs=100 ng-if="chickletData.linkedin.value">
               <label>{{chickletData.linkedin.displayName}}</label>
               <input value="{{chickletData.linkedin.value}}" ng-readonly="inactive">
            </md-input-container>
         </div>
         <div layout="row" layout-xs="column">
            <md-input-container class="md-block" flex=50 flex-xs=100 ng-if="chickletData.facebook.value" >
               <label>{{chickletData.facebook.displayName}}</label>
               <input value="{{chickletData.facebook.value}}" ng-readonly="inactive">
            </md-input-container>
            <md-input-container class="md-block" flex=50 flex-xs=100 ng-if="chickletData.github.value">
               <label>{{chickletData.github.displayName}}</label>
               <input value="{{chickletData.github.value}}" ng-readonly="inactive">
            </md-input-container>
         </div>
      </div>
      <div layout="row" >
         <md-input-container class="md-block" flex ng-if="chickletData.phones.value">
            <label>{{chickletData.phones.displayName}}</label>
            <input value="{{chickletData.phones.value}}" ng-readonly="inactive">
         </md-input-container>
      </div>
      <div layout="row" >
         <md-input-container class="md-block" flex ng-if="chickletData.address.value">
            <label>{{chickletData.address.displayName}}</label>
            <input value="{{chickletData.address.value}}" ng-readonly="inactive">
         </md-input-container>
      </div>
   </md-card>
</div>
