<div ng-cloak ng-init="inactive=true">
  <md-card md-theme="grey" md-row-height="fit" ng-if="chickletData.conference_name.value || chickletData.type.value||chickletData.location.value||chickletData.when.value" ng-mouseenter="buttonactive=true" ng-mouseleave="buttonactive=false">
    <div layout="row">
      <p layout="column" flex class="heading">
        {{chickletData.heading.displayName}}
      </p>
      <md-icon-actions ng-if="editEnabled" style="text-align:right" flex>
        <md-button ng-show="buttonactive" class="md-icon-button" ng-click="conferenceModal(chickletData,sectionName,chickletName,chicklets)">
          <md-icon class="material-icon">create</md-icon>
        </md-button>
      </md-icon-actions>
      <md-icon-actions ng-if="editEnabled" style="text-align:right">
        <md-button ng-show="buttonactive" class="md-icon-button" ng-click="deletechicklet(chickletData,sectionName,chickletName,chicklets)">
          <md-icon class="material-icon">delete</md-icon>
        </md-button>
      </md-icon-actions>
    </div>
    <div layout="column" flex ng-init="inactive=true">
      <div layout="row" flex>
        <p>
          <span ng-if="chickletData.conference_name.value">{{chickletData.conference_name.displayName}}<span class="different">{{chickletData.conference_name.value}}</span></span><span ng-if="chickletData.type.value">{{chickletData.type.displayName}}<span class="different">{{chickletData.type.value}}</span></span>
          <span
          ng-if="chickletData.location.value">{{chickletData.location.displayName}}<span class="different">{{chickletData.location.value}}</span></span><span ng-if="chickletData.when.value">{{chickletData.when.displayName}}<span class="different">{{chickletData.when.value | date: mediumDate}}</span></span>
        </p>
      </div>
      <div layout="row" flex>
        <md-input-container class="md-block" flex ng-if="chickletData.topic.value">
          <label>{{chickletData.topic.displayName}}</label>
          <input value="{{chickletData.topic.value}}" ng-readonly="inactive" ng-model="chickletData.topic.value">
        </md-input-container>
      </div>
    </div>
  </md-card>
</div>
