<div ng-controller="mainCtrl" ng-cloak ng-init="inactive=true" ng-if="chickletData.topic.value or chickletData.conference_name.value or chickletData.topic.value or chickletData.when.value or chickletData.type.value or chickletData.location.value">
   <md-card md-theme="grey" md-row-height="fit" class="md-content-paddings"  ng-mouseenter="buttonactive=true" ng-mouseleave="buttonactive=false">
      <md-card-content>
         <div layout="row" >
            <p  layout="column"  flex class="heading">
               {{chickletData.heading.displayName}}
            </p>
            <md-icon-actions style="text-align:right" flex>
               <md-button ng-show="buttonactive"  class="md-icon-button" ng-click="conferenceModal(chickletData,sectionName,chickletName)">
                  <md-icon class="material-icon">create</md-icon>
               </md-button>
            </md-icon-actions>
         </div>
         <div layout="column" flex ng-init="inactive=true">
            <div layout="row" flex>
               <p>
                <span ng-if="chickletData.conference_name.value">{{chickletData.conference_name.displayName}}{{chickletData.conference_name.value}}</span><span  ng-if="chickletData.type.value">{{chickletData.type.displayName}}{{chickletData.type.value}}</span><span ng-if="chickletData.location.value">{{chickletData.location.displayName}}{{chickletData.location.value}}</span><span ng-if="chickletData.when.value">{{chickletData.when.displayName}}{{chickletData.when.value}}</span>
               </p>
            </div>
            <div layout="row" flex>
               <md-input-container class="md-block" flex ng-if="chickletData.topic.value">
                  <label>{{chickletData.topic.displayName}}</label>
                  <input value="{{chickletData.topic.value}}" ng-readonly="inactive" ng-model="chickletData.topic.value">
               </md-input-container>
            </div>
         </div>
      </md-card-content>
   </md-card>
</div>
