<div ng-controller="mainCtrl" ng-cloak ng-init="inactive=true">
   <md-card  md-theme="grey" md-row-height="fit"  ng-mouseenter="buttonactive=true" ng-mouseleave="buttonactive=false">
      <md-card-content>
         <div layout="row">
            <p layout="column" flex class="heading">
               {{chickletData.heading.displayName}}
            </p>
            <md-icon-actions style="text-align:right" flex>
               <md-button  ng-show="buttonactive" class="md-icon-button" ng-click="roleModal(chickletData,sectionName,chickletName)" flex style="text-align:right">
                  <md-icon class="material-icon">create</md-icon>
               </md-button>
            </md-icon-actions>
         </div>
         <div layout="row" layout-padding>
            <img class="md-media-xs companyLogo" ng-src="{{chickletData.organization_logo.value}}"></img>
            <div layout="column">
              <p><span ng-if="chickletData.designation.value">{{chickletData.designation.displayName}}{{chickletData.designation.value}}</span>&nbsp;<span ng-if="chickletData.organization.value">{{chickletData.organization.displayName}}{{chickletData.organization.value}}</span><span ng-if="chickletData.location.value">{{chickletData.location.displayName}}{{chickletData.location.value}}</span><span ng-if="chickletData.from_when.value">{{chickletData.from_when.displayName}}{{chickletData.from_when.value}}</span><span  ng-if="chickletData.to_when.value">{{chickletData.to_when.displayName}}{{chickletData.to_when.value}}</span><span  ng-if="chickletData.role.value">{{chickletData.role.displayName}}{{chickletData.role.value}}</span><span  ng-if="chickletData.scale.value">{{chickletData.scale.displayName}}{{chickletData.scale.value}}</span><span  ng-if="chickletData.level.value">{{chickletData.level.displayName}}{{chickletData.level.value}}</span></p>
               <p flex ng-if="chickletData.description.value">
                  <label>{{chickletData.description.displayName}}</label>
                  <span ng-readonly="inactive"> {{chickletData.description.value}}</span>
               </p>
            </div>
         </div>
      </md-card-content>
   </md-card>
</div>
